pipeline/CopyPipeline.json
{
	"name": "CopyPipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SendSuccessEmailActivity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-45.eastus.logic.azure.com:443/workflows/7811929b77424caa908f06aea850bfe5/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=d7ytTdhdqBDhmmBVNAawOcFzjW0aOIAL7YDyY8LdlCA",
					"method": "POST",
					"headers": {
						"content-type": "application/json"
					},
					"body": {
						"message": "@{activity('Copy1').output.dataWritten}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			},
			{
				"name": "SendFailureEmailActivity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-88.eastus.logic.azure.com:443/workflows/4627c61e2cbd4602969a7a4a58bcac13/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=QxZcdLPG2dH-daXbxOYJ1Q9aCmOcP6DDpac9G60bDTI",
					"method": "POST",
					"headers": {
						"content-type": "application/json"
					},
					"body": {
						"message": "@{activity('Copy1').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			}
		],
		"parameters": {
			"sourceBlobContainer": {
				"type": "string"
			},
			"sinkBlobContainer": {
				"type": "string"
			},
			"receiver": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-08T08:33:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}